<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/rides/forms.css">
<%- include("../partials/nav") %>

<main>
  <h1><%= title %></h1>
  
  <form action="/horses" id="new-form" method="POST">
    
    <label>
      Name:
    <input type="text" name="name" id="horse-input" required="true">
    </label>
    
    <label>
      Status:
    <select name="status" id="horse-select" required="true">
      <option value="Active">Active</option>
      <option value="Lame">Lame</option>
      <option value="Retired">Retired</option>
    </select>
    </label>

    <label>
      Lesson Horse:
    <input type="checkbox" name="lessonHorse" id="horse-checkbox">
  </label>
    <label>
      Trail Horse:
    <input type="checkbox" name="trailHorse" id="horse-checkbox">
  </label>

    <button type="submit">Add Horse</button>
  </form>


</main>
<%- include("../partials/footer") %>