<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>


<main>
  <h1>Site Administration</h1>


  <a href="/horses">Horses</a>

  <a href="/admin/users">Users</a>

  <a href="/admin/schedule">Schedule</a>

</main>


<%- include("../partials/footer") %>