<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>


<main>
  <h1>Site Administration</h1>


  <a href="/admin/horses">Horses</a>


</main>


<%- include("../partials/footer") %>