<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/rides/index.css">
<%- include("../partials/nav") %>


<main>

  <h1>Site Administration</h1>


  <a href="/horses">Horses</a>

  <a href="/admin/users">Users</a>




</main>


<%- include("../partials/footer") %>