  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <h1>Trail Rider</h1>
    <% if (user) { %>
      <a href="/rides/new" class=<%= title === 'Request a Ride' ? 'active' : ''  %>
        >
        REQUEST A RIDE
      </a>

      <a href="/rides/my-rides" class=<%= title === 'My Rides' ? 'active' : ''  %>
        >
        MY RIDES
      </a>
    <% if(user.profile.role === 'Admin' || user.profile.role === 'Staff') { %>
      <a href="/rides" class=<%= title === 'All Rides' ? 'active' : ''  %>
        >
        ALL RIDES
      </a>
      <a href="/admin/" class=<%= title === 'Site Administration' ? 'active' : ''  %>
        >
        ADMIN 
      </a>
      <% } %>
        
      <a href="/auth/logout" class="right">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
     
    <% } %>
  </nav>
