  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>

    
    <a href="/rides/new" class=<%= title === 'Request a Ride' ? 'active' : ''  %>
      >
      REQUEST A RIDE
    </a>
    
    
    
    <% if (user) { %>
      <a href="/rides" class=<%= title === 'My Rides' ? 'active' : ''  %>
        >
        ALL RIDES
      </a>
      
      
      <a href="/horses" class=<%= title === 'Manage Horses' ? 'active' : ''  %>
        >
        MANAGE HORSES
      </a>


      <a href="/auth/logout" class="right">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
