html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  margin: 0;
  color: #424748;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8eceb;
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

main > #new-ride {
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

body > nav {
  grid-area: nav;
  background-color: #b8c0c2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:visited {
  color: #424748;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}