html {
  box-sizing: border-box
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


body {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0;
  color: #424748;
  
  min-height: 100vh;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  

}

nav {
  position: fixed;
  height: 114px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  font-weight: bold;
  font-size: large;
  padding: 0 20px 0 30px;
  background-color: rgb(119, 125, 144);
  z-index: 10;
}

nav > a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:visited {
  color: #424748;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a {
  margin: 0px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a.active {
  color: white;
}

nav > div {
  min-width: 300px;
}

nav > #center {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  top: 114px;
}

#login-video {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  
}

#login-video::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1500px;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
  
}


video {
  position: absolute;
  width: 100%;
  z-index: 0;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  justify-content: center;
  padding: 50px;
  width: 30%;
  
  background-color: rgba(163, 168, 198, 0.2);
  color: white;
  border-radius: 15px;
  z-index: 2;
}

#login > div {
  font-weight: 300;
  margin: 0 0 30px 0;
  padding: 8px;
}

nav > div > a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > div > a:visited {
  color: #424748;
}

nav > div > a:hover {
  color: white;
  background-color: #424748;
}

nav > div > a.active {
  color: white;
}

table {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
  min-width: 50px;
}

table td {
  padding: 10px;
  text-align: center;
  min-width: 100px;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #b8c0c2;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  color: #424748;
}

#list a:visited{
  color: #424748;
}

#list a:hover {
  background-color: white;
}

.category {
  border: 2px solid grey;
  border-radius: 15px;
  padding: 20px;
  background-color: rgb(240, 240, 235);
}