
<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/rides/show.css">
<%- include("../partials/nav") %>

<main>
  <h1><%= title %></h1>
  <h2>Rides requested by </h2>

  <!-- ride.requestor.name %> -->
  
</main>

<%- include("../partials/footer") %>