<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>

<main>
  <h1><%= title %></h1>
  
  <form action="/rides" id="new-form" method="POST">
    <label>
      Number of Riders:
      <input type="number" name="numberOfRiders" id="rider-number-input" required="true" min="1" max="20">
      </label>



    <label>
      Date:
    <input type="datetime-local" name="date" id="" >
    <!-- <input type="datetime-local" name="departs" id="departure-time-input" value="2023-04-16T13:42:35.520Z"> -->
    </label>

    <button type="submit">Submit Request</button>
  </form>


<h2>Rider Details</h2>
<table>
  <thead>
    <th>Name</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Riding Experience</th>
    <th>Delete</th>
    
  </thead>
  <tbody>

  </tbody>
</table>

</main>

<%- include("../partials/footer") %>